<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<!-- 部分テンプレートの読み込み、プロフィール画像の表示、editへのリンク、マイbook一覧、Newbook機能　-->

<!-- いま、なんのページが必要か。→このページに必要な機能考えて→機能の優先順位を考える→　今やりたいことから何が足りていないのか逆算をすればスタートできる！！　
　今何をやっているのかを見失わない、途中段階のミニ最終目標を見失わない-->
　