// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//headerのcss
.header-main-title {
  color: white;
  font-size: 20px;
  margin-top:2px;
}